<div ng-controller="isHelpFormController">
  <div is-help-form></div>
</div>
<!-- <div class="container-fluid aws-mission">
  <a name="faq"></a><p>FAQ: </p>
  <p>Why does it work?</p>
  <p>It works because students learn with better practice.<br>
  The students learn from deep perceptual knowledge and skills through high-quantity and high-quality exposure with feedback.</p>
  <p>That means they see how to do it the right way. A Lot.</p>
  <p>&nbsp;</p>
  <p>Do students receive a degree?</p>
  <p>No because The Elementary MBA teaches that learning never stops. Students become lifelong learners. The Elementary MBA is not a degree and does not issue degrees to students. Students will receive a certificate of completion. Students are encouraged to continue to learn throughout their lives and help others by being an example of the benefits of lifelong learning.</p>
  <p>&nbsp;</p>
  <p> When should my child/student enroll?</p>
  <p>The sooner the better. The ideal starting age is 5th grade. High school students would be able to do the most with the program due to their high aptitude and access to resources.</p>
  <p>&nbsp;</p>
  <p>How much of an investment is required?</p>
  <p>Training your team to administer the program and/or having me deliver the curriculum to your students is $100/hr for FIVE Hour blocks. There are grants available to low-income communities that include Title 1 schools.</p>
  <p>Please call/email to see if your organization qualifies.</p>
  <p>&nbsp;</p>
  <p>Do you offer the program to individual children and/or small groups?</p>
  <p>Yes. Please email/call to learn more. </p>
  <hr>
</div> -->
