<button class="btn btn-success" ng-click="toggle()">Ask For Help.</button>
<div ng-show="isForm">
  <div class="aweform2">

    <form accept-charset="UTF-8" action="https://kq169.infusionsoft.com/app/form/process/87d0e14aa5beac6a8bd1da49f3050ff1" class="infusion-form" method="POST">

      <input name="inf_form_xid" type="hidden" value="87d0e14aa5beac6a8bd1da49f3050ff1" />

      <input name="inf_form_name" type="hidden" value="How To Spend Smarter Quiz Request" />

      <input name="infusionsoft_version" type="hidden" value="1.51.0.54" />

      <div class="infusion-field aweform">

          <label for="inf_field_FirstName">First Name *</label>

          <input class="infusion-field-input-container" id="inf_field_FirstName" name="inf_field_FirstName" type="text" />

      </div>

      <div class="infusion-field aweform">

          <label for="inf_field_Email">Email *</label>

          <input class="infusion-field-input-container" id="inf_field_Email" name="inf_field_Email" type="text" />

      </div>

      <div class="infusion-submit aweform awebtn">

          <input type="submit" class="btn-color" value="Submit" />

      </div>

    </form>

  </div>
</div>
