<p class="aws-mission"><strong>Bring The Elementary MBA (TEMBA) To Your School, Church, Or After School Program.</strong></p>
  <div ng-controller="isHelpFormController">
    <button class="btn btn-success" ng-click="toggle()">Ask For Help.</button>
    <div ng-show="isForm">
      <div is-help-form></div>
    </div>

  </div><br>
  <p class="aws-mission">
  Text 'finLit' To 96-000 or Submit The Form Below. To Receive A FREE Financial Literacy Activity.<br>
</p>

<div class="container-fluid">

</div>

<div class="awecommunication container-fluid"



      style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap; font-family: Baskerville, 'Palatino Linotype', Palatino, 'Century Schoolbook L', 'Times New Roman', serif;"

       data-x="center" data-hoffset="-2"

       data-y="center" data-voffset="130"

      data-speed="300"

      data-start="1950"

      data-easing="Power3.easeInOut"

      data-splitin="none"

      data-splitout="none"

      data-elementdelay="0.1"

      data-endelementdelay="0.1"

   data-endspeed="300"><a>Email<br>
  info@elementarymba.com</a>
<div><a href="tel:(602)456-9335" class="awecommunication">Call 602.456.9335</a></div> </div>

<script type="text/javascript" src="https://kq169.infusionsoft.com/app/webTracking/getTrackingCode?trackingId=c3822ef1b0b2f2126a833e097de0509c"></script>
